### Activity 8.01: Retrieving Data Accurately from Databases

In [62]:
# Import Necessary Libraries
import sqlite3
import pandas as pd

In [63]:
# Connect to the SQLite database
db_path = 'petsdb'
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Read the 'persons' table into a pandas DataFrame
persons_df = pd.read_sql_query("SELECT * FROM persons", conn)
print("Persons Table:")
print(persons_df)

# Read the 'pets' table into a pandas DataFrame
pets_df = pd.read_sql_query("SELECT * FROM pets", conn)
print("\nPets Table:")
print(pets_df)

Persons Table:
     id first_name last_name  age        city  zip_code
0     1      Erica      None   22  south port   2345678
1     2      Jordi      None   73   east port    123456
2     3    Chasity      None   70    new port  76856785
3     4      Gregg      None   31    new port  76856785
4     5       Tony  Lindgren    7   west port   2345678
..  ...        ...       ...  ...         ...       ...
95   96    Ernesto      None   69   east port   9756543
96   97   Josianne      None   14   west port  76856785
97   98      Hilma   Waelchi   48   east port   9756543
98   99     Otilia   Gleason   66    new port   9756543
99  100     Adrian  Schinner    5  south port  76856785

[100 rows x 6 columns]

Pets Table:
     owner_id pet_name  pet_type  treatment_done
0          57     mani       1.0               0
1          80   tamari       NaN               0
2          25     raba       NaN               0
3          27     olga       NaN               0
4          60     raba       NaN               0
..        ...      ...       ...             ...
145        86    fenga       1.0               0
146        87     palu       1.0               0
147        26   snoopy       1.0               0
148        36     nani       1.0               0
149        22     helu       1.0               1

[150 rows x 4 columns]

In [64]:
# Execute SQL query to get age counts
cursor.execute("SELECT age, COUNT(*) as count FROM persons GROUP BY age ORDER BY age")

# Fetch all results
results = cursor.fetchall()

# Print formatted output
for age, count in results:
    print(f"We have {count} people aged {age}")

We have 2 people aged 5
We have 1 people aged 6
We have 1 people aged 7
We have 3 people aged 8
We have 1 people aged 9
We have 2 people aged 11
We have 3 people aged 12
We have 1 people aged 13
We have 4 people aged 14
We have 2 people aged 16
We have 2 people aged 17
We have 3 people aged 18
We have 1 people aged 19
We have 3 people aged 22
We have 2 people aged 23
We have 3 people aged 24
We have 2 people aged 25
We have 1 people aged 27
We have 1 people aged 30
We have 3 people aged 31
We have 1 people aged 32
We have 1 people aged 33
We have 2 people aged 34
We have 3 people aged 35
We have 3 people aged 36
We have 1 people aged 37
We have 2 people aged 39
We have 1 people aged 40
We have 1 people aged 42
We have 2 people aged 44
We have 2 people aged 48
We have 1 people aged 49
We have 1 people aged 50
We have 2 people aged 51
We have 2 people aged 52
We have 2 people aged 53
We have 2 people aged 54
We have 1 people aged 58
We have 1 people aged 59
We have 1 people aged 60
We have 1 people aged 61
We have 2 people aged 62
We have 1 people aged 63
We have 2 people aged 65
We have 2 people aged 66
We have 1 people aged 67
We have 3 people aged 68
We have 1 people aged 69
We have 1 people aged 70
We have 4 people aged 71
We have 1 people aged 72
We have 5 people aged 73
We have 3 people aged 74

In [65]:
# Execute the SQL query to find the age with the maximum number of people
cursor.execute("""
    SELECT age, COUNT(*) as count
    FROM persons
    GROUP BY age
    ORDER BY count DESC
    LIMIT 1
""")

# Fetch and print result
age, count = cursor.fetchone()
print(f"Highest number of people is {count} and came form {age} age group.")

Highest number of people is 5 and came form 73 age group.

In [66]:
# Execute the SQL query to find the number of people without last name
cursor.execute("""
    SELECT COUNT(*) 
    FROM persons 
    WHERE last_name IS NULL OR TRIM(last_name) = ''
""")

count = cursor.fetchone()[0]
print(f"There are {count} people without a last name.")

There are 60 people without a last name.

In [67]:
# Execute the SQL query to find the people with more than one pet
cursor.execute("""
    SELECT COUNT(*) 
    FROM (
        SELECT owner_id 
        FROM pets 
        GROUP BY owner_id 
        HAVING COUNT(*) > 1
        ) AS multiple_pets;
""")

count = cursor.fetchone()[0]
print (f"{count} people had more than one pet")

43 people had more than one pet

In [68]:
# Execute the SQL query to find the no of pets received treatments
cursor.execute("""
    SELECT COUNT(*) 
    FROM pets 
    WHERE treatment_done <> 0;
""")

count = cursor.fetchone()[0]
print (f"{count} pets received treatments ")

36 pets received treatments

In [69]:
# Execute the SQL query to find the no of pets received treatments with know pet types
cursor.execute("""
    SELECT COUNT(*) 
    FROM pets 
    WHERE treatment_done <> 0
    AND pet_type is not null;
""")

count = cursor.fetchone()[0]
print (f"{count} pets received treatments with type identified")

16 pets received treatments with type identified

In [70]:
# Execute the SQL query to find the no of pets from the city eastport
cursor.execute("""
    SELECT COUNT(pr.id) 
    FROM pets p,
    persons pr
    WHERE pr.id = p.owner_id
    and pr.city = 'east port'
""")

count = cursor.fetchone()[0]
print (f"{count} pets are from the cith East Port")

49 pets are from the cith East Port

In [71]:
# Execute the SQL query to find the no of pets from the city eastport and received treatment
cursor.execute("""
    SELECT COUNT(pr.id) 
    FROM pets p,
    persons pr
    WHERE pr.id = p.owner_id
    and pr.city = 'east port'
    and p.treatment_done <> 0
""")

count = cursor.fetchone()[0]
print (f"{count} pets are from the cith East Port received treatment")

11 pets are from the cith East Port received treatment

In [72]:
#Close the DB connection
conn.close()